In [1]:
import pandas as pd
import numpy as np

# if you have a data with missing values

In [2]:
df = pd.read_csv("05_missing_values.csv", parse_dates= ["day"])
df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\876787323.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("05_missing_values.csv", parse_dates= ["day"])

          day  temp  windspeed  event
0  2024-12-02  23.0        6.0   rain
1  2024-02-13   NaN        8.0  sunny
2  2024-02-14  24.0        9.0  rainy
3  2024-02-15   NaN        9.0    NaN
4  2024-02-16   NaN        NaN   rain
5  2024-02-17  34.0        NaN  sunny
6  2024-02-18   NaN        NaN  rainy
7  2024-02-19 -23.0        5.0    NaN
8  2024-02-20   NaN        5.0   snow
9  2024-02-21  33.0       -5.0   rain
10 2024-02-22   NaN        5.0  sunny
11 2024-02-23   NaN        5.0  rainy

In [3]:
df.set_index('day', inplace = True)
df

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13   NaN        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15   NaN        9.0    NaN
2024-02-16   NaN        NaN   rain
2024-02-17  34.0        NaN  sunny
2024-02-18   NaN        NaN  rainy
2024-02-19 -23.0        5.0    NaN
2024-02-20   NaN        5.0   snow
2024-02-21  33.0       -5.0   rain
2024-02-22   NaN        5.0  sunny
2024-02-23   NaN        5.0  rainy

# replace  all NAN values with some other value using fillna method

In [4]:
new_df = df.fillna(0)
new_df

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13   0.0        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15   0.0        9.0      0
2024-02-16   0.0        0.0   rain
2024-02-17  34.0        0.0  sunny
2024-02-18   0.0        0.0  rainy
2024-02-19 -23.0        5.0      0
2024-02-20   0.0        5.0   snow
2024-02-21  33.0       -5.0   rain
2024-02-22   0.0        5.0  sunny
2024-02-23   0.0        5.0  rainy

# sometime 0 is not an exactly or correct value to be replaced for NAN values. Therefore if we specifiy diff values for diff cols by using dictionary`

In [5]:
new_df = df.fillna({
    'temp': 0,
    'windspeed': 0,
    'event': 'no event'
}
)
new_df

            temp  windspeed     event
day
2024-12-02  23.0        6.0      rain
2024-02-13   0.0        8.0     sunny
2024-02-14  24.0        9.0     rainy
2024-02-15   0.0        9.0  no event
2024-02-16   0.0        0.0      rain
2024-02-17  34.0        0.0     sunny
2024-02-18   0.0        0.0     rainy
2024-02-19 -23.0        5.0  no event
2024-02-20   0.0        5.0      snow
2024-02-21  33.0       -5.0      rain
2024-02-22   0.0        5.0     sunny
2024-02-23   0.0        5.0     rainy

# if we want to carry values from previous row

In [6]:
new_df = df.fillna(method = "ffill")
new_df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\3373491668.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method = "ffill")

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13  23.0        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15  24.0        9.0  rainy
2024-02-16  24.0        9.0   rain
2024-02-17  34.0        9.0  sunny
2024-02-18  34.0        9.0  rainy
2024-02-19 -23.0        5.0  rainy
2024-02-20 -23.0        5.0   snow
2024-02-21  33.0       -5.0   rain
2024-02-22  33.0        5.0  sunny
2024-02-23  33.0        5.0  rainy

# if we want to carry current value to previous empty row, use bfill

In [7]:
new_df = df.fillna(method = "bfill")
new_df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\1106947944.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method = "bfill")

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13  24.0        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15  34.0        9.0   rain
2024-02-16  34.0        5.0   rain
2024-02-17  34.0        5.0  sunny
2024-02-18 -23.0        5.0  rainy
2024-02-19 -23.0        5.0   snow
2024-02-20  33.0        5.0   snow
2024-02-21  33.0       -5.0   rain
2024-02-22   NaN        5.0  sunny
2024-02-23   NaN        5.0  rainy

# if you want to copy or move values horizontally to empty row, then use axis

In [8]:
new_df = df.fillna(method = "bfill", axis="columns")
new_df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\3341064444.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method = "bfill", axis="columns")

             temp windspeed  event
day
2024-12-02   23.0       6.0   rain
2024-02-13    8.0       8.0  sunny
2024-02-14   24.0       9.0  rainy
2024-02-15    9.0       9.0    NaN
2024-02-16   rain      rain   rain
2024-02-17   34.0     sunny  sunny
2024-02-18  rainy     rainy  rainy
2024-02-19  -23.0       5.0    NaN
2024-02-20    5.0       5.0   snow
2024-02-21   33.0      -5.0   rain
2024-02-22    5.0       5.0  sunny
2024-02-23    5.0       5.0  rainy

# if you want copy the values only once , then use limit property

In [9]:
new_df = df.fillna(method = "ffill", limit = 1)
new_df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\1348438904.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method = "ffill", limit = 1)

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13  23.0        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15  24.0        9.0  rainy
2024-02-16   NaN        9.0   rain
2024-02-17  34.0        NaN  sunny
2024-02-18  34.0        NaN  rainy
2024-02-19 -23.0        5.0  rainy
2024-02-20 -23.0        5.0   snow
2024-02-21  33.0       -5.0   rain
2024-02-22  33.0        5.0  sunny
2024-02-23   NaN        5.0  rainy

# if you want to get close values bw 2 diff cells like temp A = 20, B= NAN, C= 25 the B might be having value bw 20-25 ,use interpolate method. By default it will show result in linear

In [10]:
new_df = df.interpolate()
new_df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\812076388.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate()

                 temp  windspeed  event
day
2024-12-02  23.000000        6.0   rain
2024-02-13  23.500000        8.0  sunny
2024-02-14  24.000000        9.0  rainy
2024-02-15  27.333333        9.0    NaN
2024-02-16  30.666667        8.0   rain
2024-02-17  34.000000        7.0  sunny
2024-02-18   5.500000        6.0  rainy
2024-02-19 -23.000000        5.0    NaN
2024-02-20   5.000000        5.0   snow
2024-02-21  33.000000       -5.0   rain
2024-02-22  33.000000        5.0  sunny
2024-02-23  33.000000        5.0  rainy

In [11]:
new_df = df.interpolate(method="time")
new_df

C:\Users\nitsachdeva\AppData\Local\Temp\ipykernel_2972\3296454784.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate(method="time")

                 temp  windspeed  event
day
2024-12-02  23.000000        6.0   rain
2024-02-13  24.000000        8.0  sunny
2024-02-14  24.000000        9.0  rainy
2024-02-15  27.333333        9.0    NaN
2024-02-16  30.666667        8.0   rain
2024-02-17  34.000000        7.0  sunny
2024-02-18   5.500000        6.0  rainy
2024-02-19 -23.000000        5.0    NaN
2024-02-20   5.000000        5.0   snow
2024-02-21  33.000000       -5.0   rain
2024-02-22  32.964912        5.0  sunny
2024-02-23  32.929825        5.0  rainy

# if you want to drop na values, use dropna.By defaul it will drop all the rows which has Na values.

In [12]:
new_df = df.dropna()
new_df

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-14  24.0        9.0  rainy
2024-02-21  33.0       -5.0   rain

# but if you want to preserve some rows which has atleast 1 data values

In [13]:
new_df = df.dropna(thresh=2)
new_df

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13   NaN        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-17  34.0        NaN  sunny
2024-02-19 -23.0        5.0    NaN
2024-02-20   NaN        5.0   snow
2024-02-21  33.0       -5.0   rain
2024-02-22   NaN        5.0  sunny
2024-02-23   NaN        5.0  rainy

# if you want to fill missing values for eg in dates if you have some missing dates

In [14]:
dt = pd.date_range("01-02-2024","01-11-2024")
idx = pd.DatetimeIndex(dt)
new_df = df.reindex(idx)
new_df

            temp  windspeed event
2024-01-02   NaN        NaN   NaN
2024-01-03   NaN        NaN   NaN
2024-01-04   NaN        NaN   NaN
2024-01-05   NaN        NaN   NaN
2024-01-06   NaN        NaN   NaN
2024-01-07   NaN        NaN   NaN
2024-01-08   NaN        NaN   NaN
2024-01-09   NaN        NaN   NaN
2024-01-10   NaN        NaN   NaN
2024-01-11   NaN        NaN   NaN

# How to use replace methods to add any new or update any existing values

In [17]:
new_df = df.replace([-23, -5], np.nan)
new_df

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13   NaN        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15   NaN        9.0    NaN
2024-02-16   NaN        NaN   rain
2024-02-17  34.0        NaN  sunny
2024-02-18   NaN        NaN  rainy
2024-02-19   NaN        5.0    NaN
2024-02-20   NaN        5.0   snow
2024-02-21  33.0        NaN   rain
2024-02-22   NaN        5.0  sunny
2024-02-23   NaN        5.0  rainy

# replace values based on sp[ecific cols]

In [18]:
new_df = df.replace({
    'temp': -23,
    'windspeed': -5,
    'event': 'snow'
     }, np.nan)
new_df

            temp  windspeed  event
day
2024-12-02  23.0        6.0   rain
2024-02-13   NaN        8.0  sunny
2024-02-14  24.0        9.0  rainy
2024-02-15   NaN        9.0    NaN
2024-02-16   NaN        NaN   rain
2024-02-17  34.0        NaN  sunny
2024-02-18   NaN        NaN  rainy
2024-02-19   NaN        5.0    NaN
2024-02-20   NaN        5.0    NaN
2024-02-21  33.0        NaN   rain
2024-02-22   NaN        5.0  sunny
2024-02-23   NaN        5.0  rainy